.btn.btn-primary {
  color: #fff;
  background-color: $footer;
}

.btn2 {
  background-color: $brand;
  border-radius: 10px;
  width: 100%;
  height: 95px;
}

.btn3 {
  background-color: $edit;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.btn-save {
  font-size: 10px;
  color: #fff;
  background-color: $save;
  border-radius: 10px;
  width: 20%;
  height: 100%;
}

.btn-edit {
  background-color: $brand;
  border-radius: 10px;
  width: 50%;
  height: 95px;
}

.btnGroup1 {
  margin-bottom: 5px;
}

.btnGroup2 {
  margin-top: 5px;
}

.createBtnCol {
  padding-right: 5px;
}

.userBtnCol {
  padding-left: 5px;
}

.homePageBtnRow {
  height: 80vh;
}
