.btn.btn-primary {
  color: #fff;
  background-color: $brand;
  border: none;
  box-shadow: 0 3px 0 darken($brand, 20%);
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  &:focus {
    outline: none;
  }
}

.btn2 {
  background-color: $brand;
  width: 100%;
  height: 95px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  box-shadow: 0 5px 0 darken($brand, 20%);
}

.btn3 {
  background-color: $edit;
  width: 100%;
  height: 200px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  box-shadow: 0 5px 0 darken(#d3d0d0, 20%);
}

.btn4 {
  background-color: $brand;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  padding: 8px 10px;
  box-shadow: 0 3px 0 darken($brand, 20%);
  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }
}

.btn-save {
  font-size: 10px;
  color: #fff;
  background-color: $save;
  border-radius: 10px;
  width: 20%;
  height: 100%;
}

.btn-edit {
  background-color: $brand;
  border-radius: 10px;
  width: 50%;
  height: 95px;
}

.btnGroup1 {
  margin-bottom: 5px;
}

.btnGroup2 {
  margin-top: 5px;
}

.homeBtns {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 5px);
  }
}

.guest {
  padding: 5px;
  font-size: 12px;
}


@media only screen and (max-width: 576px) {
  .homeBtns {
    display: flex;
    flex-direction: column;
    > div {
      width: 100%;
    }
    .createBtnCol {
      margin-bottom: 10px;
    }
  }
}
