// FOOTER
footer {
  height: 50px;
  background-color: rgb(73, 73, 73);
  color: #fff;
  ul {
    align-items: center;
    display: flex;
    li {
      .itinerary-logo {
        font-family: Pacifico,cursive;
      }
      .github {
        align-items: center;
      }
    }
  }
  img {
    height: 30px;
    display: block;
    margin: 0 30px;
  }
  a {
    color: #fff;
    display: block;
    text-align: center;
  }
}
