
//////////////////////////////////////

.navbar-brand {
  a {
    background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-style-metro-ui-icons/512/Flurry_Google_Places.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 300;
}

.nav-link:hover {
 color: #fff;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
