<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plan App</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/XAp90nF.png">
    </header>
    <p>
      Hey <%= guest.name %>, you're invited to <strong><%= plan.name %></strong>!
      <br><br>
      Click <a href="<%= url %>/plans/<%= plan.id %>">here</a> to view the details.
    </p>

  </body>
</html>
