<div class="container-fluid">
  <div class="row">

    <div class="left col-md-3">
      <ul ng-repeat="place in placesIndex.placesResults track by $index">
        <li><img src="{{ place.imageUrl }}"/></li>
        <li>{{ place.name }}</li>
        <li>{{ place.rating }}</li>
        <li>{{ place.vicinity }}</li>
         <button type="button" name="button">+</button>
      </ul>
    </div>
    <div class="center col-md-6">
      <google-map
        center="placesIndex.location"
        places-results="placesIndex.placesResults"
        radius="placesIndex.radius"
        establishment="placesIndex.establishment"
        price="placesIndex.price">
      </google-map>
    </div>

    <div class="right col-md-3">
      <form>

        <div class="filter">
          <label for="place">Place</label>
          <input class="search" autocomplete location="placesIndex.location" ng-change="placesIndex.autocomplete()" ng-model="placesIndex.place" name="place" id="place" />
        </div>

        <div class="filter">
          <label for="establishment">Type of establishment</label>
          <select name="establishment" id="establishment" ng-model="placesIndex.establishment">
            <option selected disabled value="">Choose</option>
            <option ng-repeat="(key, establishment) in placesIndex.places" value="{{ establishment }}" name="establishment">{{ key }}</option>
          </select>
        </div>

        <div class="filter">
          <label for="radius">Distance</label>
          <input class="slider" type="range" id="radius" ng-model="placesIndex.radius" name="radius" step="100" min="200" max="2500" value="200"/>{{ radius }}
          <!-- <input class="slider" type="range" id="radius" ng-model="placesIndex.radius" name="radius" step="100" min="200" max="2500" ng-model-options="{ debounce: 250 }"/>{{ radius }} -->
          <input class="slider" type="range" id="radius" ng-model="placesIndex.radius" name="radius" step="100" min="200" max="2500" ng-model-options="{ debounce: 250 }"/>{{ radius }}
        </div>

        <div class="filter">
          <label for="price">Price</label>
          <input class="slider" type="range" id="price" ng-model="placesIndex.price" name="price" step="1" min="0" max="4" ng-model-options="{ debounce: 250 }"/>
        </div>


      </form>
    </div>

  </div>
</div>
