<!-- NAVBAR -->
<ng-include src="'/js/views/partials/_nav.html'"></ng-include>

<h1>Profile Page</h1>
<!-- {{ usersShow.user }} -->

<!-- Printing User Profile Picture -->



<div class="container">
  <div class="pic"><img ng-src="{{ usersShow.user.imageSRC }}"></div>

  <form ng-submit="usersShow.update()">
    <!-- Changed text input to a file input and added our directive attribute -->
    <input type="file" base64 name="base64" id="base64" ng-model="usersShow.user.base64" class="form-control">
    <!-- {{ usersShow.user.image }} -->
    <button class="btn btn-primary">Save Profile Picture</button>
  </form>
  <div class="pic" ng-repeat="plan in usersShow.user.plansCreated">
    <a ui-sref="plansShow({ id: plan.id })">{{ plan.name }}</a>
    <a ui-sref="plansEdit({id: plansShow.plan.id })">Edit</a>
  </div>

</div>
