<!-- NAVBAR -->
<ng-include src="'/js/views/partials/_nav.html'"></ng-include>


<h1 ng-controller="PlansShowCtrl as plan">Event: {{ plansEdit.plan.name }}</h1>

<div class="container-fluid">
  <div class="row">
    <div class="left col-md-3">
      <a ui-sref="plansInvite({id: plansEdit.plan.id })">Send invites</a>
      <ul>
        <li class="form-control auth" ng-repeat="item in plansEdit.plan.items">
          <form ng-submit="plansEdit.updateTime(item)">
            {{ item.place.name }}
            <input type="time" time date="plansEdit.plan.date" ng-model="item.time">
            <button ng-click="plansEdit.deleteItem(item)">Delete</button>
            <button>Save</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="center col-md-6">
      <google-map
        center="plansEdit.location"
        places-results="plansEdit.placesResults"
        radius="plansEdit.radius"
        establishment="plansEdit.establishment"
        price="plansEdit.price">
      </google-map>
    </div>

    <div class="right col-md-3">
      <form>

        <div class="filter">
          <label for="place">Location: </label>
          <input class="search" autocomplete center="plansEdit.location" ng-change="plansEdit.autocomplete()" ng-model="plansEdit.place" name="place" id="place" />
        </div>

        <div class="filter">
          <label for="establishment">Venue Type:</label>
          <select name="establishment" id="establishment" ng-model="plansEdit.establishment">
            <option selected disabled value="">Choose</option>
            <option ng-repeat="(key, establishment) in plansEdit.places" value="{{ establishment }}" name="establishment">{{ key }}</option>
          </select>
        </div>

        <div class="filter">
          <label for="radius">Distance</label>
          <input class="slider" type="range" ng-model="plansEdit.radius" name="radius" step="100" min="200" max="2500" ng-model-options="{ debounce: 250 }"/>
        </div>

        <div class="filter">
          <label for="price">Price</label>
          <input class="slider" type="range" id="price" ng-model="plansEdit.price" name="price" step="1" min="0" max="4" ng-model-options="{ debounce: 250 }"/>
        </div>
      </form>

      <ul ng-repeat="place in plansEdit.placesResults track by $index">
        <li><img src="{{ place.imageUrl }}"/></li>
        <li>{{ place.name }}</li>
        <li>{{ place.rating }}</li>
        <li>{{ place.vicinity }}</li>
        <button type="button" name="button" ng-click="plansEdit.addItem(place)">+</button>
      </ul>

    </div>
  </div>
</div>
