<!-- NAVBAR -->
<ng-include src="'/js/views/partials/_nav.html'"></ng-include>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1 class="inviteHeader">Invite</h1>

      <div class="form-group">
        <form class="form-control inviteForm" ng-submit="plansInvite.addGuest()">
          <p>Name: <input type="text" ng-model="plansInvite.guest.name"></p>
          <p>Email: <input type="text" ng-model="plansInvite.guest.email"></p>
          <button class="guest" type="submit" name="button">Add Guest</button>
        </form>
      </div>

      <ul class="inviteWrap">
        <li class="invites" ng-repeat="guest in plansInvite.plan.guests track by $index">
          {{ guest.name }} <span class="sent" ng-if="guest.invited">sent</span>
          <button type="submit" name="button" ng-click="plansInvite.deleteGuest(guest)">X</button>
        </li>
      </ul>

      <div class="row send">
        <button class="btn btn-primary send" ng-click="plansInvite.send()">Send invites</button>
      </div>

    </div>
  </div>
</div>
