<!-- NAVBAR -->
<ng-include src="'/js/views/partials/_nav.html'"></ng-include>

<h1>INVITE</h1>

<form ng-submit="plansInvite.addGuest()">
  <input type="text" ng-model="plansInvite.guest.name">
  <input type="text" ng-model="plansInvite.guest.email">
  <button type="submit" name="button">Add Guest</button>
</form>

<ul>
  <li ng-repeat="guest in plansInvite.plan.guests track by $index">
    {{ guest.name }} <span ng-if="guest.invited">Email sent</span>
    <button type="submit" name="button" ng-click="plansInvite.deleteGuest(guest)">Remove Invite</button>
  </li>
</ul>

<button ng-click="plansInvite.send()">Send invites</button>
