<!-- NAVBAR -->
<ng-include src="'/js/views/partials/_nav.html'"></ng-include>

<h1>Plan Page {{ plansShow.plan.name }}</h1>

<div class="box">
  <p>{{ plansShow.plan.date | date: 'fullDate' }}</p>
  <h1>Weather in {{ plansShow.weather.timezone }}</h1>
  <img id="icon" ng-src="/images/{{ plansShow.weather.currently.icon }}.png" />
  <h2>Temperature: {{ plansShow.weather.currently.apparentTemperature }}ºC</h2>
  <h2>Summary: {{ plansShow.weather.currently.summary }}</h2>
  <h2>Humidity: {{ plansShow.weather.currently.humidity }}</h2>
</div>

<div class="box" ng-repeat="item in plansShow.plan track by $index">
  <ul>
    <li><strong>Place name:</strong> <em>{{ plansShow.plan.items[$index].place.name }}</em></li>
    <li><strong>Place address:</strong> <em>{{ plansShow.plan.items[$index].place.address }}</em></li>
    <li><strong>Date:</strong> <em>{{ plansShow.plan.items[$index].time | date:'medium'}}</em></li>
  </ul>
</div>

<div class="box" >
  <ul>
    <li ng-repeat="item in plansShow.plan.guests track by $index"><li><strong>People invited:</strong> <em>{{ plansShow.plan.guests[$index].name }}</em></li></li>
  </ul>
</div>

<a ui-sref="plansEdit({id: plansShow.plan.id })">Edit</a>
