<!-- NAVBAR -->
<ng-include src="'/js/views/partials/_nav.html'"></ng-include>

<div class="container-fluid events-show">
  <div class="row">
    <div class="col-md-4">
      <div class="weather">
        <h3>Weather in {{ plansShow.weather.timezone }}</h3>
        <img id="icon" ng-src="/images/{{ plansShow.weather.currently.icon }}.png" />
        <p>Temperature: {{ plansShow.weather.currently.apparentTemperature }}ºC</p>
        <p>Summary: {{ plansShow.weather.currently.summary }}</p>
      </div>
      <simple-map items="plansShow.plan.items"></simple-map>
    </div>
    <div class="col-md-8">
      <h1>{{ plansShow.plan.name }}</h1>
      <p>{{ plansShow.plan.date | date: 'fullDate' }}</p>
      <a ui-sref="plansEdit({ id: plansShow.plan.id })" class="btn4" ng-if="main.isAuthenticated() && plansShow.plan.createdBy.id ===  main.getUserId()">Edit</a>
      <div class="places">
        <div class="place" ng-repeat="item in plansShow.plan.items track by $index">
          <p><strong>Place name:</strong> <em>{{ item.place.name }}</em></p>
          <p><strong>Place address:</strong> <em>{{ item.place.address }}</em></p>
          <p><strong>Date:</strong> <em>{{ item.time | date:'medium'}}</em></p>
        </div>
      </div>
      <h2>Invited:</h2>
      <div class="guests row">
        <div class="col-md-6" ng-repeat="guest in plansShow.plan.guests track by $index">
          <div class="guest">
            {{ guest.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a ui-sref="plansEdit({id: plansShow.plan.id })">Edit</a>
