<footer>
  <div class="itinerary_logo">Itinerary App</div>

  <p> By </p>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="github">
          <img class="githublink daniel" src="http://www.jordland.com/img/social-media/github-w.png" alt="github_logo">
          <a class="githublink" href="https://github.com/danielsan89">Daniel</a>
        </div>

        <div class="github">
          <img class="githublink" src="http://www.jordland.com/img/social-media/github-w.png" alt="github_logo">
          <a class="githublink" href="https://github.com/hannahjavs">Hannah</a>
        </div>

        <div class="github">
          <img class="githublink" src="http://www.jordland.com/img/social-media/github-w.png" alt="github_logo">
          <a class="githublink" href="https://github.com/WillTDs">William</a>
        </div>
      </div>
    </div>
  </div>

</footer>
