<footer class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="content">

    <ul>

      <li class="list-inline-item">
        <span class="itinerary-logo">Itinerary App</span> By
      </li>

      <li class="github list-inline-item">
        <a href="https://github.com/danielsan89">Daniel, </a>
      </li>

      <li class="github list-inline-item">
        <a href="https://github.com/hannahjavs">Hannah, </a>
      </li>

      <li class="github list-inline-item">
        <a href="https://github.com/WillTDs">& William</a>
      </li>

      <img src="http://www.jordland.com/img/social-media/github-w.png" alt="github_logo">

    </ul>
  </div>
</footer>
