<nav>
  <div class="link-wrap" ui-sref="/" ui-sref-active="active">
    <span class="cover">Home</span>
    <a class="btn1 navItem">Home</a>
  </div>

  <div class="link-wrap" ng-if="!main.isAuthenticated()" ui-sref="login" ui-sref-active="active">
    <span class="cover">Login</span>
    <a class="btn1 navItem">Login</a>
  </div>

  <div class="link-wrap" ng-if="!main.isAuthenticated()" ui-sref="register" ui-sref-active="active">
    <span class="cover">Register</span>
    <a class="btn1 navItem">Register</a>
  </div>

  <div class="link-wrap" ng-if="main.isAuthenticated()">
    <span class="cover">Logout</span>
    <a class="btn1 navItem" href="#" ng-click="main.logout()">Logout</a>
  </div>

  <div class="link-wrap" ng-if="main.isAuthenticated()" ui-sref="usersShow({ id: main.getUserId() })" ui-sref-active="active">
    <span class="cover">Profile</span>
    <a class="btn1 navItem">Profile</a>
  </div>

  <div class="link-wrap" ng-if="main.isAuthenticated()" ui-sref="plansNew" ui-sref-active="active">
    <span class="cover">Plan</span>
    <a class="btn1">Plan</a>
  </div>
</nav>
