<div class="homePage">
    <h1>Itinerary App</h1>
</div>

<!-- Here: {{ main.plan }} -->

<button ng-click="main.showDetails = !main.showDetails" ng-if="main.isAuthenticated()" class="btn1">Create A Plan</button>

<form class="css-form auth" ng-submit="main.create()" ng-show="main.showDetails">
  <div class="form-group">
  <label>Name</label>
  <input class="form-control"type="text" ng-model="main.plan.name">
  <label>Date</label>
  <input class="form-control"type="date" ng-model="main.plan.date">
  <button>Create</button>
</div>
</form>
