<!DOCTYPE html>
<html ng-app="itineraryApp">
<head>
  <base href="/" target="_blank">
  <meta charset="utf-8">
  <title>WDI Project 3</title>
  <!-- Google Maps API Key -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4N4nXhT6FwDYaVf1OIW6J06_K9ZL-y3A&libraries=places"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <div class="container-fluid homePage">

    <nav>
      <div class="link-wrap">
        <span class="cover">Home</span>
        <a class="btn1 navItem" ui-sref="/" ui-sref-active="active">Home</a>
      </div>

      <div class="link-wrap" ng-if="!main.isAuthenticated()">
        <span class="cover">Login</span>
        <a class="btn1 navItem" ui-sref="login" ui-sref-active="active">Login</a>
      </div>

      <div class="link-wrap" ng-if="!main.isAuthenticated()">
        <span class="cover">Register</span>
        <a class="btn1 navItem" ui-sref="register" ui-sref-active="active">Register</a>
      </div>

      <div class="link-wrap" ng-if="main.isAuthenticated()">
        <span class="cover">Logout</span>
        <a class="btn1 navItem" href="#" ng-click="main.logout()">Logout</a>
      </div>

      <div class="link-wrap" ng-if="main.isAuthenticated()">
        <span class="cover">Profile</span>
        <a class="btn1 navItem" ui-sref="usersShow({ id: main.getUserId() })" ui-sref-active="active">Profile</a>
      </div>

      <div class="link-wrap" ng-if="main.isAuthenticated()">
        <span class="cover">Plan</span>
        <a class="btn1" ui-sref="plansNew" ui-sref-active="active">Plan</a>
      </div>
    </nav>

    <main ui-view></main>

    <footer>
      <p>Hannah, William & Daniel</p>
    </footer>

  </div>
</body>
</html>
