// Import all of your scss files here
@import 'normalize/normalize';
@import 'bootstrap/bootstrap-grid';

html {
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
}

// places
.map {
  height: calc(100vh - 50px);
  width: 100%;
}

// nav
.active {
  color: red;
}

// profile page

.sideBar {
  margin-top: 10px;
  margin-right: 30px;
  background-color: grey;
  float: left;
  width: 300px;
  height: 650px;
}

.pic {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: grey;
}

// plan page
.box {
  height: 300px;
  width: 300px;
  display: inline-block;
  background-color: grey;
}

// general styling
// .btn-type1 {
//   margin: 5px;
//   padding: 12px;
//
//   text-align: center;
//   text-decoration: none;
//   text-transform: none;
//
//   color: #565676;
//   border-radius: 4px;
//
//   font-size: 15px;
//   font-weight: 500;
//
//   background:linear-gradient(to bottom, #A2C7E5 5%, #D8DCFF 100%);
//   box-shadow: 0px 0px 0.5px 1px rgba(86,86,118,0.55);
// }
//
// .btn-type1:hover {
//   background:linear-gradient(to bottom, #D8DCFF 5%, #A2C7E5 100%);
// }
